main{
    font-family: 'Handlee', cursive;

}
h2{
    font-family: 'Lumanosimo', cursive; 
    font-size: 1.5rem;
    padding: 1rem 0;
    color: rgb(210, 38, 172);

}
h3{
    font-size: 1.1rem;

}
.pony-info h2{
    padding: 1rem 1rem;
}

.pony-info h3{
    padding: .2rem 1.5rem;
}


.threeTypes{
    padding: .5rem;
    width: 50%;
}



.pony-info ul li{
    font-size: 1.1rem;
    padding: 0 3rem;
    color: purple;
}

.pony-info ol li{
    font-size: .8rem;
    color: black;
}

.img{
    display: flex;
    margin: auto;
    width: 300px;
    padding: 1rem;
}

.pony-info img{
    width: 50%;
    position: absolute;
    max-height: 320px;
    padding-right: 1.5rem;
    transform: translate(0rem, 4rem) ;
}

.mane6{
    display: grid;
    grid-template-columns: repeat(200px 3fr);
    padding: 0 1rem;
    margin: 0 1rem;
}

.pony-info p{
    padding: 0 1rem;
}

@media (min-width: 100px) {
    .mane6{
        grid-template-columns: 1fr;
    }
    .threeTypes{
        padding: .5rem;
        width: 100%;
    }

    .pony-info img{
        width: 0%;
    
    }
}


@media (min-width: 400px) {
    .mane6{
        grid-template-columns: 1fr;
    }
    .threeTypes{
        padding: .5rem;
        width: 50%;
    }

    .pony-info img{
        position: absolute;

        width: 50%;

    
    }
}

@media (min-width: 700px) {
    .mane6{
        grid-template-columns: 1fr 1fr;
    }
    .pony-info img{
        position: absolute;

        width: 50%;

    
    }
}

@media (min-width: 800px) {
    .pony-info img{
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 3vw;
        max-height: 170px;
    
    }
}

@media (min-width: 1000px) {
    .mane6{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .pony-info img{
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 3vw;
        max-height: 220px;
    
    }
}

@media (min-width: 1200px){
    .pony-info img{
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 3vw;
        max-height: 320px;
    
    }
}

